.btn-con {
    border-radius: 8px;
    background-color: #212529;
    width: 100%;
  
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 11px 0;
    cursor: pointer;
}

.login-btn {
    border: none;
    background-color: none;
    font-size: 14px;
    outline: none;
    padding: 0;
    margin-left: 20px;
}