.nav-con {
    border-bottom: 1px solid #21252928;
    margin-bottom: 20px;
}

.nav {
    max-width: 896px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    &.header {
        width: max-content;
    }


}

.logout {
    display: flex;
    gap: 10px;
    background-color: transparent;
    color: #212529;
    padding: 0;
    border: none;

    &:hover {
        border: none;
        background-color: transparent;
    }

    &>img {
        width: 14px;
    }
}