.spinner {
    height: 14px;
    width: 14px;
    border: 1px solid #f3f3f3;
    border-top: 1px solid #212529;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}