.home {}

.form-container {
  max-width: 896px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &>span {
    font-size: 15px;
  }
}

h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

.desc {
  color: #6c757d;
  font-size: 14px;
}

textarea {
  border: none;
  background-color: #e9ecef;
  resize: none;
  font-size: 14px;
  border-radius: 10px;
  padding: 12px;
  outline: none;
  font-family: inherit;
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.btn-wrap {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}