.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    &>span {
        margin-bottom: 8px;
        color: #6c757d;
    }

    &>span:last-child {
        margin-top: 10px;
    }
}

.header {
    font-size: 36px;
}

.btn-wrapper {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}